@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
*{
    font-family: 'Macondo', cursive;
    background-color: #fefae0;
}
h1,h2, form{
    text-align: center;
}

h1,h2{
    font-size: 2.5em;
}

input{
    padding: 0em 0em 0em 0em;
    font-size: 3em;
    border:hidden;
    border-bottom: 3px solid black;
}
button{
    display: block;
    margin-left: 40%;
    margin-top: 1em;
    font-size: 2em;
    padding: 0em 3em 0em 3em;
}
li{
    list-style-type: number;
    font-size: 2em;
}